<%- include('./layout/header') %>
<%- include('./components/slider') %>
    <main>
      <%- include('./components/domain-search') -%>
      <section>
        <div class="uk container py-md-5 py-3">
          <h2 class="gh-home-title gh-border-center uk-h4 py-md-4 py-3 text-blue-main">
            Dịch vụ <strong>Chất</strong> Nhất, Giá <strong>Mềm</strong> Nhất
          </h2>
          <div class="row align-items-center">
            <div class="col-md-4 order-md-1 order-2">
              <div class="row mb-2">
                <div class="col-md-10 col-9 text-md-right order-md-1 pr-0 order-2">
                  <h3 class="uk-text-bold uk-h5 my-0">Tên miền</h3>
                  <p class="my-0 text-muted uk-text-small">Nhà đăng ký chính thức tên miền hàng đầu Việt Nam</p>
                </div>
                <div class="col-md-2 col-3 order-md-2 order-1">
                  <img src="./public/images/icon/www.png" alt="" class="d-inline-block">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-10 col-9 text-md-right order-md-1 pr-0 order-2">
                  <h3 class="uk-text-bold uk-h5 my-0">Hosting</h3>
                  <p class="my-0 text-muted uk-text-small">
                    Chúng tôi giúp bạn lưu trữ website nhanh nhất, an toàn nhất, hiệu quả nhất
                  </p>
                </div>
                <div class="col-md-2 col-3 order-md-2 order-1">
                  <img src="./public/images/icon/hosting.png" alt="" class="d-inline-block">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-10 col-9 text-md-right order-md-1 pr-0 order-2">
                  <h3 class="uk-text-bold uk-h5 my-0">Server</h3>
                  <p class="my-0 text-muted uk-text-small">
                    Dịch vụ cho thuê mấy chủ/máy chủ ảo với lượng lưu trữ lớn, bảo mật cao
                  </p>
                </div>
                <div class="col-md-2 col-3 order-md-2 order-1">
                  <img src="./public/images/icon/server.png" alt="" class="d-inline-block">
                </div>
              </div>
            </div>
            <div class="col-md-4 order-3">
              <div class="row mb-2">
                <div class="col-md-10 col-9 order-2 pl-md-0">
                  <h3 class="uk-text-bold uk-h5 my-0">Email</h3>
                  <p class="my-0 text-muted uk-text-small">Nhà đăng ký chính thức tên miền hàng đầu Việt Nam</p>
                </div>
                <div class="col-md-2 col-3 order-1">
                  <img src="./public/images/icon/mail.png" alt="" class="d-inline-block">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-10 col-9 order-2 pl-md-0">
                  <h3 class="uk-text-bold uk-h5 my-0">Thiết Kế Website</h3>
                  <p class="my-0 text-muted uk-text-small">Nhà đăng ký chính thức tên miền hàng đầu Việt Nam</p>
                </div>
                <div class="col-md-2 col-3 order-1">
                  <img src="./public/images/icon/design.png" alt="" class="d-inline-block">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-10 col-9 order-2 pl-md-0">
                  <h3 class="uk-text-bold uk-h5 my-0">Dịch Vụ Khác</h3>
                  <p class="my-0 text-muted uk-text-small">Nhà đăng ký chính thức tên miền hàng đầu Việt Nam</p>
                </div>
                <div class="col-md-2 col-3 order-1">
                  <img src="./public/images/icon/service.png" alt="" class="d-inline-block">
                </div>
              </div>
            </div>
            <div class="col-md-4 order-md-2 order-1 mb-md-0 mb-3">
              <img src="./public/images/technology.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="uk-container py-md-5 py-3">
          <div class="row">
            <div class="col-md-4 uk-background-contain d-md-block d-none" style="background-size: 100% 100%;" data-src="./public/images/Connect.jpg" uk-img></div>
            <div class="col-md-8">
              <h2 class="gh-home-title gh-border-left uk-h4 mt-0 pb-md-4 pb-3 text-blue-main">
                <strong>Lợi Thế</strong> Của ESC Chúng Tôi
              </h2>
              <div class="row mb-2 align-items-center py-2">
                <div class="col-md-2 text-md-right text-center mb-md-0 mb-3">
                  <div class="p-3 border border-blue-main rounded-circle d-inline-block">
                    <img class="" src="./public/images/icon/exp.png" alt="">
                  </div>
                </div>
                <div class="col-md-10 text-md-left text-center">
                  <h3 class="uk-text-bold uk-h5 my-0">14 năm kinh nghiệm</h3>
                  <p class="my-0 text-muted uk-text-small">
                    Với đội ngũ nhân viên trẻ, nhiệt huyết, năng cùng cùng bề dày 14 năm kinh nghiệm,
                    ESC tự tin phục vụ tốt nhất mọi yêu cẩu của khách hàng
                  </p>
                </div>
              </div>
              <div class="row mb-2 align-items-center mb-md-0 mb-3 py-2">
                <div class="col-md-2 text-md-right text-center mb-md-0 mb-3">
                  <div class="p-3 border border-blue-main rounded-circle d-inline-block">
                    <img class="" src="./public/images/icon/solution.png" alt="">
                  </div>
                </div>
                <div class="col-md-10 text-md-left text-center">
                  <h3 class="uk-text-bold uk-h5 my-0">Giải pháp tốt nhất</h3>
                  <p class="my-0 text-muted uk-text-small">
                    ESC cung cấp các giải pháp hiệu quả nhất, tối ưu nhất nhưng với chi phí thấp nhất
                    nhằm giúp khách hàng đạt hiểu quả kinh doanh tốt nhất
                  </p>
                </div>
              </div>
              <div class="row mb-2 align-items-center mb-md-0 mb-3 py-2">
                <div class="col-md-2 text-md-right text-center mb-md-0 mb-3">
                  <div class="p-3 border border-blue-main rounded-circle d-inline-block">
                    <img class="" src="./public/images/icon/pro.png" alt="">
                  </div>
                </div>
                <div class="col-md-10 text-md-left text-center">
                  <h3 class="uk-text-bold uk-h5 my-0">Dịch vụ chuyên nghiệp</h3>
                  <p class="my-0 text-muted uk-text-small">
                    ESC cung cấp các giải pháp hiệu quả nhất, tối ưu nhất nhưng với chi phí thấp nhất
                    nhằm giúp khách hàng đạt hiểu quả kinh doanh tốt nhất
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="uk-container py-md-5 py-3">
          <div class="row">
            <div class="col-md-6">
              <h2 class="gh-home-title gh-border-left uk-h4 py-md-4 py-3 text-blue-main">
                <strong>Tin Tức</strong> Và <strong>Sự Kiện</strong>
              </h2>
              <ul class="nolist d-block gh-main-list">
                <li><a href="#">Tổng cục Thuế tiết lộ bí quyết phát hiện những vụ lậu thuế triệu đô của cá nhân thu từ Facebook, Google</a></li>
                <li><a href="#">Bộ TT&TT phê duyệt danh sách tên miền “.VN” cấp quyền sử dụng thông qua đấu giá</a></li>
                <li><a href="#">VNNIC mở rộng phạm vi chứng nhận hệ thống quản lý ATTT theo tiêu chuẩn quốc tế</a></li>
                <li><a href="#">Quy trình thiết kế website chuyên nghiệp</a></li>
                <li><a href="#">Cách chọn tên miền phù hợp và chuẩn SEO</a></li>
                <li><a href="#">Hãy dừng việc lạm dụng Meta Keyword với SEO hiện đại</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2 class="gh-home-title gh-border-left uk-h4 py-md-4 py-3 text-blue-main">
                <strong>Thông Báo</strong> Từ ESC
              </h2>
              <ul class="nolist d-block gh-main-list">
                <li><a href="">Chính thức triển khai công nghệ DNSSEC tại Việt Nam</a></li>
                <li><a href="">ESC – Chương trình khuyến mãi sốc dịp hè 2018</a></li>
                <li><a href="">Thông báo về tình hình tuyến cáp quang biển AAG tháng 6/2018</a></li>
                <li><a href="">Dịch vụ Locking domain là gì?</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <%- include('./components/slider-bottom') -%>
    </main>
<%- include('./layout/footer') %>
